.navbar {
  background: #2c3e50;
  padding: 15px 40px;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f1c40f;
}